.solbarmenu{
  position: absolute;

      left: 45px;
      top: 70px;


}

.gelismis{
background-color: #6286a0;
border: 3px solid rgba(9, 2, 443, .5);

width:95px;
height:1520px;
line-height:20px;
font-size:2px;
color:white;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-shadow:#2d4251 1px 5px 5px;
}

.sagbarmenu{
    position: absolute;

      left: 1200px;
      top: 70px;
}

.randomyeri{
    position: absolute;

      left: -15px;
      top: 0px;
}


#randomyeri{
    position: absolute;

      left: -10px;
      top: 0px;
}



